<!-- Include head section -->
<include href="includes/head.html">
    <div class="container mt-5">

        <!-- Display current username -->
        <div class="alert alert-info" role="alert">
            Current Username: {{ @username }}
        </div>

        <!-- Error messages -->
        <div class="mb-3 mt-3 text-center">
            <div id="error-msg" class="alert alert-warning my-2 py-auto">{{ "<br>", @errors | implode }}</div>
        </div>

        <!-- Profile update form -->
        <form method="POST" action="{{ @BASE }}{{ 'profileUpdate' | alias }}" class="mb-4"
            enctype="multipart/form-data">

            <!-- Change Avatar -->
            <div class="mb-3 text-center">
                <div class="avatar-wrapper">
                    <img id="avatar-preview" src="../{{ @avatar }}" alt="Avatar Preview" class="avatar-circle">
                </div>
                <input type="file" class="form-control-file input-group mb-3 mt-3" id="avatar" name="avatar"
                    accept="image/*" onchange="previewAvatar(event)">
            </div>

            <!-- Input: Username -->
            <div class="form-group mb-3">
                <label for="username" class="form-label m-0">New Username:</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Enter a username">
            </div>

            <!-- Input: Password -->
            <div class="form-group mb-3">
                <label for="password" class="form-label m-0">New Password:</label>
                <input type="password" id="password" name="password" class="form-control"
                    placeholder="Enter a password">
            </div>

            <!-- Input: Password Confirmation -->
            <div class="form-group mb-3">
                <label for="password-confirm" class="form-label m-0">Confirm New Password:</label>
                <input type="password" id="password-confirm" name="password-confirm" class="form-control"
                    placeholder="Confirm the password">
            </div>

            <!-- Submit button -->
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Update Profile</button>
            </div>

            <!-- Success message -->
            <input type="hidden" id="update-success" value="{{ @successMessage }}">
        </form>

        <!-- Home button -->
        <div class="mb-3">
            <a href="{{ @BASE }}{{ 'home' | alias }}" class="btn btn-secondary">Home</a>
        </div>

    </div>

    <script>
        // Alert user on successful profile update
        document.addEventListener('DOMContentLoaded', (event) => {
            const successMessage = document.getElementById('update-success').value;
            if (successMessage) {
                alert(successMessage);
            }
        });

        // Preview uploaded avatar image
        function previewAvatar(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('avatar-preview');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
    </body>

    <style>
        /* Button styling */
        .btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            border-radius: 60px;
            height: 48px;
            font-weight: 500;
        }

        /* Hover effects for primary buttons */
        .btn-primary:hover {
            background-color: #00a2ca;
            color: white;
        }

        /* Hover effects for secondary buttons */
        .btn-secondary:hover {
            background-color: rgb(128, 128, 128);
        }

        /* Avatar wrapper styling */
        .avatar-wrapper {
            width: 150px;
            height: 150px;
            border-radius: 100%;
            overflow: hidden;
            display: inline-block;
            border: 5px solid #ccc;
        }

        /* Style for avatar images to fit the circle */
        .avatar-circle {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        /* Input file styling */
        #avatar {
            border: 2px solid #ccc;
            border-radius: 5px;
        }
    </style>

    </html>